* {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000000;
}

h1 {
	color: #ff3333;	
}

h2 {
	color: #00ff00;	
}

h3 {
	color: #0000ff;	
}

h4 {
	color: #ffff88;	
}

h5 {
	color: #ff88ff;
}

h6 {
	color: #00ffff;
}